<div>
  <h2>Edit Student</h2>
  <div class="container" *ngIf="student === null">
    <form autocomplete="off">
      <div class="form-group">
        <label for="lname">Last name of student record to edit:</label>
        <input type="text" class="form-control" id="lname" name="lname" autofocus required [(ngModel)]="lname">
      </div>
      <button type="submit" class="btn btn-success" (click)="findStudent()">Lookup Student</button>
      <button class="btn btn-default" (click)="createStudent()">New Student</button>
    </form>
  </div>
  <div class="container" *ngIf="student !== null">
    <form autocomplete="off" name="studentForm" class="form-horizontal">

      <div class='namebox'>
        <div class="row">
          <div class="col-md-5">
            <input class="form-control" name="fname" autofocus [(ngModel)]="student.fname" placeholder="First Name" />
          </div>
          <div class="col-md-5">
            <input class="form-control" name="lname" [(ngModel)]="student.lname" placeholder="Last Name" />
          </div>
          <div class="col-md-2">
            <button class="btn" (click)="student.male = !student.male" style="width:100%;"
              [ngClass]="{'btn': true, 'btn-warning': !student.male, 'btn-primary': student.male}">
              {{student.male ? 'Y' : 'X'}}</button>
          </div>
        </div>

        <div class="row">
            <div class="col-md-6">
              <button class="btn btn-default" style="width:100%;" (click)="parentClicked()">
                {{student.parent > 0 ? student.parent : 'Select Parent'}}
              </button>
            </div>
            <div class="col-md-6">
                <select class="form-control" name="teacher" [(ngModel)]="student.teacher" >
                  <option [ngValue]="undefined" selected="selected" disabled="disabled">Select a teacher</option>
                    <option *ngFor="let t of teachers" [ngValue]="t.tid">{{t.fname}} {{t.lname}}
                    </option>
                  </select>
                </div>
        </div>

        <div class='row'>
          <div class="col-md-4">
            <input class="form-control" name="email" [(ngModel)]="student.email"
            (change)="updateUsername()"
            placeholder="Email" />
          </div>
          <div class="col-md-4">
              <input class="form-control" name="username" [(ngModel)]="student.username" placeholder="Username" />
            </div>
            <div class="col-md-4">
                <input class="form-control" name="password" [(ngModel)]="student.password" placeholder="Password" />
              </div>
        </div>
      </div>

<div class="namebox">
  <div class="row">
    <div class = "col-md-12">
      <input class="form-control" name="torah" [(ngModel)]="student.torah" placeholder="Torah Portion" />
    </div>
  </div>

  <div class="row">
    <div class = "col-md-12">
      <input class="form-control" name="haftara" [(ngModel)]="student.haftara" placeholder="Haftara Portion" />
    </div>
  </div>
</div>

      <div class="row namebox">
        <div class="col-md-12">
          <textarea class="form-control" name="comment" [(ngModel)]="student.comment" placeholder="Comment"></textarea>
        </div>
      </div>
      <div class="row namebox">
          <div class="col-md-6">
            <select class="form-control" [(ngModel)]="student.group" name="sgroup">
              <option [ngValue]="undefined" selected="selected" disabled="disabled">Select a Prayer Group</option>
              <option value="0">Aleph Prayers</option>
              <option value="1">Bet Prayers</option>
              <option value="2">Aleph &amp; Bet Prayers</option>
              <option value="3">Special</option>
            </select>
        </div>
        <div class="col-md6">
          <div class="form-group">
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd" name="taget"
              [(ngModel)]="target" ngbDatepicker #d="ngbDatepicker" style="width:100%;">
              <button class="btn btn-default input-group-addon" (click)="d.toggle()" type="button">
                <!--<img src="img/calendar-icon.svg"
                    <span style="width: 1.2rem; height: 1rem; cursor: pointer;">X</span>-->
                X
              </button>
            </div>
          </div>
        </div>
      </div>


      <div>
        <button type="submit" class="btn btn-success" (click)="saveForm()">Save</button>
        <button type="submit" class="btn btn-danger" (click)="resetForm()">Cancel</button>
      </div>
    </form>
  </div>
</div>
