div.container {
  width: 80%;
}

div.namebox {
  padding: 8px;
  background-color: ghostwhite;
  border-radius: 8px;
  margin: 8px;
}

div.namebox div {
  margin: 4px 0;
}

div.phone {
  text-align: left;
  padding-left: 12px;
  background-color: white;
}

div.phonelabel {
  text-align: right;
  background-color: white;
}

div.modal-footer button {
  min-width: 10em;
}
