<div ><h3>Select Parent</h3>
  <form>
      <div class="form-group">
        <label for="lname">Last Name</label>
        <input type="text" class="form-control" id="lname" name="lname" required [(ngModel)]="lname">
      </div>
      <button type="submit" class="btn btn-success"
      (click)="findParent()">Submit</button>
  </form>
  </div>
  <!--
  <md-dialog-container aria-label="Select Parent dialog">
    <md-dialog-content>
        <md-list>
            <md-list-item ng-repeat="parent in plist">
              <p>{{parent.fname1}} {{parent.lname1}} & {{parent.fname2}} {{parent.lname2}}</p>
            </md-list-item>
          </md-list>
    </md-dialog-content>
    <md-dialog-actions>
        <button class="btn btn-default" ng-click="closeDialog()">Cancel</button>
      </md-dialog-actions>
  </md-dialog-container>
-->
