<header  *ngIf="router.url !== '/checkin'" class="navbar navbar-light navbar-fixed-top navbar-expand-lg">

  <span class="navbar-brand">Mitzvah Central</span>

  <button class="navbar-toggler navbar-toggler-right" type="button" (click)="navbarCollapsed = !navbarCollapsed" [attr.aria-expanded]="!navbarCollapsed"
    aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse" [ngbCollapse]="navbarCollapsed" id="navbarContent">
    <div class="navbar-nav mr-auto">
        <a class="nav-link" [routerLink]="['/student']" (click)="navbarCollapsed = true">Student</a>
        <a class="nav-link" [routerLink]="['/parent']" (click)="navbarCollapsed = true">Parent</a>
        <a class="nav-link" [routerLink]="['/class']" (click)="navbarCollapsed = true">Class Mode</a>
        <a class="nav-link" [routerLink]="['/lesson']" (click)="navbarCollapsed = true">Lesson Mode</a>
        <a class="nav-link" [routerLink]="['/checkin']" (click)="navbarCollapsed = true">Student Checkin</a>
        <a class="nav-link" (click)="this.authService.logout()">Logout</a>
      </div>
    </div>

</header>
