<header *ngIf="router.url !== '/checkin'" class="bg-warning navbar navbar-light navbar-fixed-top navbar-expand-lg">

  <span class="navbar-brand">Mitzvah Central</span>

  <button class="navbar-toggler navbar-toggler-right" type="button" (click)="navbarCollapsed = !navbarCollapsed" [attr.aria-expanded]="!navbarCollapsed"
    aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse" [ngbCollapse]="navbarCollapsed" id="navbarContent">
    <div class="navbar-nav ml-auto">
      <div ngbDropdown class="d-inline-block">
        <div class="" id="dropdown1" ngbDropdownToggle>Mode</div>
        <div ngbDropdownMenu aria-labelledby="dropdown1">
          <a class="dropdown-item nav-link" [routerLink]="['/class']" (click)="navbarCollapsed = true">Class Mode</a>
          <a class="dropdown-item nav-link" [routerLink]="['/lesson']" (click)="navbarCollapsed = true">Lesson Mode</a>
          <a class="dropdown-item nav-link" [routerLink]="['/checkin']" (click)="navbarCollapsed = true">Student Checkin</a>
        </div>
      </div>

      <div ngbDropdown class="d-inline-block">
        <div class="" id="dropdown2" ngbDropdownToggle>Edit</div>
        <div ngbDropdownMenu aria-labelledby="dropdown2">
          <a class="dropdown-item nav-link" [routerLink]="['/student']" (click)="navbarCollapsed = true">Students</a>
          <a class="dropdown-item nav-link" [routerLink]="['/parent']" (click)="navbarCollapsed = true">Parents</a>
          <a class="dropdown-item nav-link disabled" [routerLink]="['/teacher']" (click)="navbarCollapsed = true">Teachers</a>
        </div>
      </div>
      <a class="nav-link" (click)="this.authService.logout()">Logout</a>
    </div>
  </div>

</header>
