<div>
  <!--
  <div class="bcenter">
    <button class="btn btn-success">Start Lesson</button>
  </div> -->
  <ng-template ngFor let-student [ngForOf]="students">
    <div *ngIf="checkDate(student.target)" class="datemark">
      {{getdate(student.target) | date:'MMM d, y'}}
    </div>
    <div class="student" (click)="gotClicked(student)">{{student.lname}}, {{student.fname}}
      <!-- [ngClass]="{'student' : true, 'selected' : student.selected}" -->
    </div>
  </ng-template>
  <!-- <div class="bcenter">
    <button class="btn" [ngClass]="{ 'btn-success' : isSelection}">Start Lesson</button>
  </div> -->
</div>
