<app-studentlistheader (GroupEvent)="updateGroups($event)"
>
</app-studentlistheader>
<ul>
  <li *ngFor="let student of students"
    (click)="toggleStudent(student.stid)"
    [ngClass]="student.selected ? 'selected' : ''" >

    <div class="row">
      <div class="col-3">{{ student.target | date: 'MM/dd/yyyy' }}</div>
      <div class="col-2">{{ groupName(student.group) }}</div>
      <div class="col-6">{{ student.fname }} {{ student.lname }}</div>
      <div class="col-1" style="text-align:right;padding-right:18px;">
        {{ weeksUntil(student.target) }}</div>
    </div>
  </li>
</ul>

