<div class='mc-menubar'>
  <span class="left">Mitzvah Central Lesson Portal</span>
  <!--
  <span class="btn-group right" role="group" aria-label="Select View">
      <button type="button" class="btn">Class Mode</button>
      <button type="button" class="btn">Lesson Mode</button>
      <button type="button" class="btn">Checkin</button>
  </span>
-->

  <span class="buttons right">
    <a routerLink="/class">Class Mode</a>
    <a routerLink="/lesson">Lesson Mode</a>
    <a href="/checkin">Checkin</a>
  </span>
</div>
<div style="text-align:center">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
