<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Mitzvah Central - {{title}}
  </h1>
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <app-studentlist *ngIf="showstudents" [groupSelected]="groupSelected"></app-studentlist>
        <app-prayersheet *ngIf="!showstudents"
          (goBack)="showstudents = true"
          [currentPrayer]="workingPrayer" >
        </app-prayersheet>
      </div>
      <div class="col-md-3">
        <app-prayerlist (pray)="prayerSelected($event)"></app-prayerlist>
      </div>
    </div>
  </div>
</div>
