<div class='row'>
  <div class="col-md-3">{{ student.FName }} {{ student.LName }}</div>

  <div class="col-md-8" *ngIf="mode.prayerState == 'P'">
    <app-progress [stid]='student.STID' [prid]="prayer.TaskID"></app-progress>
  </div>

  <div class="col-md-2" *ngIf="mode.prayerState == 'A'">
    <app-progress [stid]='student.STID' [prid]="prayer.TaskID"></app-progress>
  </div>
  <div class="col-md-3"  *ngIf="mode.prayerState == 'A'">
    <input type="text" />
  </div>
  <div class="col-md-3"  *ngIf="mode.prayerState == 'A'">
    <input type="text" />
  </div>

    <div class="col-md-4"  *ngIf="mode.prayerState == 'C'">
      <input type="text" />
    </div>
    <div class="col-md-4"  *ngIf="mode.prayerState == 'C'">
      <input type="text" />
    </div>

  <div class="col-md-1">99/99</div>
</div>
