<div class='row'[ngStyle]="getStyles()">
  <div class="col-md-3 xtooltip" *ngIf="!lessonMode" [ngStyle]=
  "{'color': ageHeard === '0' ? 'gray' : 'black'}">
  <span *ngIf="prayer.description === 'Torah'" class='tooltiptext'>{{student.torah}}</span>
  <span *ngIf="prayer.description === 'Haftara'" class='tooltiptext'>{{student.haftara}}</span>
  {{ student.fname }} {{ student.lname }}
</div>
    <div class="col-md-3" *ngIf="lessonMode" [ngStyle]=
    "{'color': ageHeard === '0' ? 'gray' : 'black'}">{{ prayer.description }}
  </div>

  <div class="col-md-8" *ngIf="mode.prayerState == 'P'">
    <app-progress *ngIf="prayer.description !== 'Comment'"
    [progress]="progress" (rating)="gotNewRating($event)"
    (readOnly)="readOnly">
      </app-progress>
  </div>

  <div class="col-md-2" *ngIf="mode.prayerState == 'A'">
      <app-progress  *ngIf="prayer.description !== 'Comment'"
      [progress]="progress" (rating)="gotNewRating($event)"
      (readOnly)="readOnly"></app-progress>
  </div>
  <div class="col-md-3"  *ngIf="mode.prayerState == 'A'">
    <input type="text" [(ngModel)]="progress.tcomment" ng-disabled="readOnly"
    (blur)="tcommentBlur($event)" />
  </div>
  <div class="col-md-3"  *ngIf="mode.prayerState == 'A'">
    <input type="text" [(ngModel)]="progress.scomment" ng-disabled="readOnly"
    (blur)="scommentBlur($event)"/>
  </div>

    <div class="col-md-4"  *ngIf="mode.prayerState == 'C'">
      <input type="text" [(ngModel)]="progress.tcomment" ng-disabled="readOnly"
      (blur)="tcommentBlur($event)"/>
    </div>
    <div class="col-md-4"  *ngIf="mode.prayerState == 'C'">
      <input type="text" [(ngModel)]="progress.scomment" ng-disabled="readOnly"
      (blur)="scommentBlur($event)"/>
    </div>

  <div class="col-md-1">{{ ageString }}</div>
</div>
