<div class='row'[ngStyle]="{'border': lastheard() === '' ? '1px solid green' : 'none'}">
  <div class="col-md-3" [ngStyle]="{'color': lastheard() === '0' ? 'LightBlue' : 'black'}">{{ student.fname }} {{ student.lname }}</div>

  <div class="col-md-8" *ngIf="mode.prayerState == 'P'">
    <app-progress [progress]="progress" (rating)="gotNewRating($event)">
      </app-progress>
  </div>

  <div class="col-md-2" *ngIf="mode.prayerState == 'A'">
      <app-progress [progress]="progress" (rating)="gotNewRating($event)"></app-progress>
  </div>
  <div class="col-md-3"  *ngIf="mode.prayerState == 'A'">
    <input type="text" [(ngModel)]="progress.tcomment"
    (blur)="tcommentBlur($event)" />
  </div>
  <div class="col-md-3"  *ngIf="mode.prayerState == 'A'">
    <input type="text" [(ngModel)]="progress.scomment"
    (blur)="scommentBlur($event)"/>
  </div>

    <div class="col-md-4"  *ngIf="mode.prayerState == 'C'">
      <input type="text" [(ngModel)]="progress.tcomment"
      (blur)="tcommentBlur($event)"/>
    </div>
    <div class="col-md-4"  *ngIf="mode.prayerState == 'C'">
      <input type="text" [(ngModel)]="progress.scomment"
      (blur)="scommentBlur($event)"/>
    </div>

  <div class="col-md-1">{{lastheard(progress)}}/{{ age(progress) }}</div>
</div>
