   <h3>{{student.fname}} {{student.lname}} &nbsp;&nbsp;&nbsp;
     <button class="btn btn-sm btn-danger" (click)="sendEnd()">End Lesson</button> </h3>
   <p>Torah - {{student.torah}} &nbsp;&nbsp;&nbsp;
     Haftara - {{student.haftara}}  &nbsp;&nbsp;&nbsp;
     [{{ weeksleft }} weeks]
     </p>
  <ul>
  <li *ngFor="let prayer of prayers"
  [ngStyle]="{'display': inGroup(prayer, student.group) ? 'inherit' : 'none'}"
    >
      <app-prayernode [student]="student" [prayer]="prayer" [lessonMode]="true"
      [progress]="myPrayer(student.stid, prayer.taskid)"></app-prayernode>
    </li>
  </ul>
