li {
  padding:0;
  text-align: left;
  list-style: none;
  margin: 2px 0 0 0;
  background-color: lightgreen;
  border-bottom: 1px solid lavenderblush;
  color: black;

}
li.invisiblex {
  background-color: red;
}
.bold {
  font-weight: bold;
}
table {
  margin-left: 10px;
}
