  Group: <div class="btn-group btn-group-justified" role="group" aria-label="Group">
    <button type="button" [ngClass]="getClass(0)" (click)="bclick($event)" value="0">A</button>
    <button type="button" [ngClass]="getClass(1)" (click)="bclick($event)" value="1">B</button>
    <button type="button" [ngClass]="getClass(2)" (click)="bclick($event)" value="2">A &amp; B</button>
    <button type="button" [ngClass]="getClass(3)" (click)="bclick($event)" value="3">Custom</button>
    <button type="button" [ngClass]="getClass(4)" (click)="bclick($event)" value="4">ALL</button>
  </div>
  <!-- ng-class="{'btn-default': true, 'btn-primary': false}" ng-model='false'>A</button> -->

